<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- This is where the user lands after they initially log in. -->
    <!-- You can access the current user by the "currentUser" varaible. -->
     <h1>You're logged in!</h1>
     <h3>User Information:</h3>
     <ul>
        <li>Username: <%= currentUser.username%></li>
        <li>EmaiL: <%= currentUser.email%></li>
        <li>Status / Role: <%= currentUser.status%></li>
        <li>ID: <%= currentUser.id%></li>
     </ul>

     <form id="post-message-form" action="/postMessage" class="create-message-form" method="post">
      <h3>What's on your mind?</h3>
      <input name="messageTitle" type="text", placeholder="Title...">
      <input name="messageContent" type="text" placeholder="Write a message...">
      <button form="post-message-form" type="submit">Post</button>
     </form>

     <!-- Dynamic content where ejs makes the POST request to get the messages from db. -->
      <!-- Don't forget to conditionally render if user is 'basic' or 'member'-->
      <h3>Messages (from database)</h3>
      <div id="posts-container">

      </div>
    
     <script>
      document.addEventListener('DOMContentLoaded', function() {
          fetch('/getMessages')
              .then(response => response.json())
              .then(data => {
                  const {messages, userStatus} = data;
                  const postContainer = document.getElementById('posts-container');
                  postContainer.innerHTML = ''; // Clear any existing content
                  messages.forEach(message => {
                      // Create divs
                      const postItem = document.createElement('div');
                      const postTitle = document.createElement('div');
                      const postContent = document.createElement('div');
                      const postTimestamp = document.createElement('div');
                      const postAuthor = document.createElement('div');

                      // Add their classes
                      postItem.classList.add('post-item')
                      postTitle.classList.add('post-title')
                      postContent.classList.add('post-content')
                      postTimestamp.classList.add('post-timestamp')
                      postAuthor.classList.add('post-author')

                      // Fill post with content
                      postTitle.textContent = `${message.title}`;
                      postContent.textContent = `${message.message}`;

                      // If the user is a 'member' status. Then display date & author of the post.
                      if (userStatus === "member") {
                          postTimestamp.textContent = `${message.timestamp.slice(0,10)} @ ${message.timestamp.slice(11, 16)}`
                          postAuthor.textContent = `${message.username}`
                      }

                      else{
                        postTimestamp.textContent = "Become a member to view more details!"
                      }
                      
                      postItem.appendChild(postTitle);
                      postItem.appendChild(postContent);
                      postItem.appendChild(postTimestamp);
                      postItem.appendChild(postAuthor);
                      postContainer.appendChild(postItem);
                  });
              })
              .catch(error => {
                  console.error('Error fetching messages:', error);
              });
      });
    </script>

     <!-- There's a secret button where the user can enter a pw to get "member" role. -->
      <h3>Gain Member Access</h3>
      <form action="/upgradeStatus" method="post">
        <div class="upgrade-status-input-container">
            <label for="input-upgrade">Enter Password to Gain "Member" Priviledges:</label>
            <input type="text" name="input-upgrade" placeholder="input-upgrade">
        </div>
        <button type="submit">Submit</button>
      </form>


      <!-- Display error message -->
      <% if (error && error.length) { %>
        <p style="color:red"><%= error[0] %></p>
      <% } %>
    
      <!-- Success message -->
      <% if (success && success.length) { %>
        <ul>
          <% success.forEach(msg => { %>
            <li style="color: green;"><%= msg %></li>
          <% }) %>
        </ul>
      <% } %>

      <!-- Logout Button. Note it has to be a form instead of <a> since <a> is always 'GET' -->
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
        
</body>
</html>
