<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- This is where the user lands after they initially log in. -->
    <!-- You can access the current user by the "currentUser" varaible. -->
     <h1>You're logged in!</h1>
     <h3>User Information:</h3>
     <ul>
        <li>Username: <%= currentUser.username%></li>
        <li>EmaiL: <%= currentUser.email%></li>
        <li>Status / Role: <%= currentUser.status%></li>
        <li>ID: <%= currentUser.id%></li>
     </ul>

     <form id="post-message-form" action="/postMessage" class="create-message-form" method="post">
      <h3>What's on your mind?</h3>
      <input name="messageTitle" type="text", placeholder="Title...">
      <input name="messageContent" type="text" placeholder="Write a message...">
      <button form="post-message-form" type="submit">Post</button>
     </form>

     <!-- There's a secret button where the user can enter a pw to get "member" role. -->
      <form action="/upgradeStatus" method="post">
        <div class="upgrade-status-input-container">
            <label for="input-upgrade">Enter Password to Gain "Member" Priviledges:</label>
            <input type="text" name="input-upgrade" placeholder="input-upgrade">
        </div>
        <button type="submit">Submit</button>
      </form>


      <!-- Display error message -->
      <% if (error && error.length) { %>
        <p style="color:red"><%= error[0] %></p>
      <% } %>
    
      <!-- Success message -->
      <% if (success && success.length) { %>
        <ul>
          <% success.forEach(msg => { %>
            <li style="color: green;"><%= msg %></li>
          <% }) %>
        </ul>
      <% } %>

      <!-- Logout Button. Note it has to be a form instead of <a> since <a> is always 'GET' -->
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
        
</body>
</html>
