<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <!-- This is where the user lands after they initially log in. -->
    <!-- You can access the current user by the "currentUser" varaible. -->
     <h1 id="welcome-title" class="title">Welcome, <%= currentUser.username%></h1>

     <div class="content-container-1">
       <div class="profile-info">
          <h3>Profile Information:</h3>
          <p>Username: <%= currentUser.username%></p>
          <p>Email: <%= currentUser.email%></p>
          <p>Status / Role: <%= currentUser.status%></p>
          <p>ID: <%= currentUser.id%></p>
       </div>
       <form id="post-message-form" action="/postMessage" class="create-message-form" method="post">
        <h3>What's on your mind?</h3>
        <div class="post-message-input-container">
          <textarea id="post-title-input" name="messageTitle" placeholder="Title..." required maxlength="100"></textarea>
          <textarea required maxlength="500" name="messageContent" id="post-content-input" placeholder="Write a message..."></textarea>
        </div>
        <button id="post-msg-btn" form="post-message-form" type="submit">Post</button>
       </form>
     </div>

     <!-- Dynamic content where ejs makes the POST request to get the messages from db. -->
      <!-- Don't forget to conditionally render if user is 'basic' or 'member'-->
      <h1 class="title">Messages</h1>
      <div class="posts-container">
        <div class="slide-track"> <!-- for future if i want to make it a continuous sliding carasoul.-->
          <!-- post items -->
        </div>

      </div>

     <script>
      document.addEventListener('DOMContentLoaded', function() {
          fetch('/getMessages')
              .then(response => response.json())
              .then(data => {
                  const {messages, userStatus, userId} = data;
                  const postsContainer = document.querySelector('.posts-container');
                  postsContainer.innerHTML = ''; // Clear any existing content
                  messages.forEach(message => {
                      // Create divs
                      const postItem = document.createElement('div');
                      const postTitle = document.createElement('div');
                      const postContent = document.createElement('div');
                      const postTimestamp = document.createElement('div');
                      const postAuthor = document.createElement('div');
                      const postInfo = document.createElement('div'); // Holds title, date, author.

                      // Add their classes
                      postItem.classList.add('post-item')
                      postTitle.classList.add('post-title')
                      postContent.classList.add('post-content')
                      postTimestamp.classList.add('post-timestamp')
                      postAuthor.classList.add('post-author')
                      postInfo.classList.add('post-info')


                      // Fill post with content
                      postTitle.textContent = `${message.title}`;
                      postContent.textContent = `${message.message}`;

                      console.log("User ID:", userId, "Created by:", message.created_by)

                      // If the user is a 'member' status. Then display date & author of the post.
                      if (userStatus === "member") {
                          postTimestamp.textContent = `${message.timestamp.slice(0,10)} @ ${message.timestamp.slice(11, 16)}`
                          postAuthor.textContent = `@ ${message.username}`
                      }

                      // Or if the message was written by them, they can see the details.
                      if (userId === message.created_by){
                          postTimestamp.textContent = `${message.timestamp.slice(0,10)} @ ${message.timestamp.slice(11, 16)}`
                          postAuthor.textContent = `@ ${message.username} (Me)`
                          postAuthor.classList.add('self-authored') // Give it this class so that it's highlighted.
                      }

                      if (userStatus !== "member"){
                        postTimestamp.textContent = "Become a member to view more details!"
                      }

                      /* Create structure
                      <div .posts-container>
                        <div .post-info>
                          postTitle
                          postAuthor
                          postTimestamp
                        </div>
                        postContent
                      </div>
                      */
                      postInfo.appendChild(postTitle)
                      postInfo.appendChild(postAuthor);
                      postInfo.appendChild(postTimestamp);

                      postItem.appendChild(postInfo);
                      postItem.appendChild(postContent);


                      postsContainer.appendChild(postItem);
                  });
              })
              .catch(error => {
                  console.error('Error fetching messages:', error);
              });
      });
    </script>

     <!-- There's a secret button where the user can enter a pw to get "member" role. -->
      <h1 class="title">Gain Member Access</h1>
      <form id="member-access-form" action="/upgradeStatus" method="post">
            <label  for="input-upgrade">Enter Password to Gain "Member" Priviledges:</label>
            <input id="input-upgrade" type="text" name="input-upgrade" placeholder="...">
            <button id="btn-input-upgrade" type="submit">Submit</button>
      </form>


      <!-- Display error message -->
      <% if (error && error.length) { %>
        <p style="color:red"><%= error[0] %></p>
      <% } else if (success && success.length) { %>
        <ul>
          <% success.forEach(msg => { %>
            <li style="color: green;"><%= msg %></li>
          <% }); %>
        </ul>
      <% } %>




    <!-- Logout Button. Note it has to be a form instead of <a> since <a> is always 'GET' -->
    <form id="logout-form" action="/logout" method="POST">
      <button id="btn-logout" type="submit">Logout</button>
    </form>

</body>
</html>
